.cart div{
			padding: 0 ;
		}
		.cart .btn{
			padding:5px 5px;
		}
		.cart .row{
			border: 1px solid #aaa;
			text-align: center;
		}
		.cart .totalrow{
			text-align: right;
		}
		.cart .totalrow div{
			padding: 10px;
		}